.horizontal-header {
    background-color: #333;
    padding: 20px;
  }
  
  .horizontal-header nav {
    display: flex;
    justify-content: space-between; 
  }
  
  .horizontal-header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .horizontal-header nav ul li {
    margin-right: 20px;
  }
  
  .horizontal-header nav ul li:last-child {
    margin-right: 0;
  }
  
  .horizontal-header nav ul li button {
    color: #fff;
    background-color: #333;
  }

  .social-links {
    margin-top: 8px;
  }

  .social-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  